/* You can add global styles to this file, and also import other style files */
.cm-editor {
    height: 700px;
}

.cm-mygutter {
    width: 5px;
    // background-color: green;
}

.cm-completionIcon-table:after {
    content: '\03A4';
}
.cm-completionIcon-column:after {
    content: 'C';
}

.cm-completionIcon-keyword:after {
    content: '🔑︎';
}
// ⌘