/* You can add global styles to this file, and also import other style files */
.cm-editor {
    height: 700px;
}

.cm-my-gutter {
    .cm-gutterElement.my-test {
        width: 3px;
        background-color: #21ba45;;
    }
}

.cm-gutter.cm-foldGutter {
    .cm-gutterElement {
        width: 14px;
        text-align: center;
        // opacity: 0;
        // transition: opacity .4s;
    }
    // &:hover .cm-gutterElement {
    //     opacity: 1;
    // }
}

.codicon-folding-expanded:before {
    content: '\eab4';
}
.codicon-folding-collapsed:before {
    content: '\eab6';
}

.cm-completionIcon-table:after {
    content: '\03A4';
}
.cm-completionIcon-column:after {
    content: 'C';
}

.cm-completionIcon-keyword:after {
    content: '🔑︎';
}
// ⌘

.cm-tooltip {
    border-radius: 2px!important;
    border: 1px solid #e8e8e8!important;
    background-color: #fefefe!important;
}

.cm-tooltip-autocomplete .cm-completionMatchedText {
    color: #005cb8;
    text-decoration: unset;
}

.cm-tooltip-autocomplete > ul > li[aria-selected] {
    background-color: #6bb5ff!important;
    color: #fcfcfc;
}